.float-right{	
	padding-right: 5px;
	margin-top: 12px;
	position: fixed;
	right: 10px;
}

.float-right a, .float-right a:visited, .float-right a:link{
	color: white;
	text-decoration: none;
	height: 70%;
}

.float-right a:hover{
	font-weight: bold;
}

.float-right a{
	font-size: 17px;
	margin-right: 3px;
	border: 1px ridge black;
	background-color: #ff3232;
	padding: 5px;
	padding-left: 14px;
	padding-right: 14px;
}

.float-right a:active{
	font-size: 15px;
}


#horizontalbar{
	background-color:#f21414;
	width:101%;
	height:50px;
	position:fixed;
	top: 0px;
	left:0px;
	opacity: 0.8;
    filter: alpha(opacity=80);
}

.float-left{
	font-family: Aharoni;
	color: white;
	position: fixed;
	left:10px;
	top: 13px;
	font-size: 30px;
	font-weight: bold;
}